<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Form Validataion Example</h1>






    <h1>Reactive Form</h1>
    <app-reactive-form></app-reactive-form>

    <h1>Template Driven Form</h1>
    <app-template-driven-form></app-template-driven-form>
    <!-- 

    <input type="checkbox" [(ngModel)]="!show">


    <div *appMyIf='show'>
        First Customer Name Second Customer Name

    </div>



    <fieldset>
        <legend>Service Example</legend>

        <app-first></app-first>

        <app-second></app-second>

    </fieldset>



    <div>Current Date {{currentDate}}</div>
    <div>Current Time{{currentTime}}</div>

    <ul *ngFor="let emp of employeeList">
        <li>
            {{emp.empid}} {{emp.name}} {{emp.salary}}

        </li>

    </ul>

    <div appMyHighLight>Division</div>
    <p appMyHighLight>This is paragram</p>

    <div appMyIf></div> -->

</body>

</html>